.post-list li {
  padding: 10px;
  margin-bottom: 10px;
}
.post-list li .img-box {
  margin-bottom: 5px;
  background: #eee;
}
.post-list li .img-box img {
  vertical-align: middle;
}
.post-list li video {
  background: #000;
}
.post-list li a {
  color: #F2B2AE;
}
.post-list li blockquote {
  border-left: 2px #878787 solid;
  padding-left: 5px;
  margin: 0px 2px 0px 10px;
}
.post-list li #info {
  font-family: calibri;
  font-size: 10px;
  text-align: left;
  text-transform: lowercase;
  letter-spacing: 1px;
  padding: 2px;
  margin-top: 5px;
  font-style: italic;
  border-top: 1px dashed #F2B2AE;
  line-height: 1;
}
.post-list li .my-like {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAYAAAA/mJfHAAABH0lEQVQ4y62T30vCUBiGv/9YuhBLkCA08FdogRFFYFEUhhZNCCQoSESiIOii68pl5qV6s8Eb7+SMHXNs6S7ejZ3zvA+ccT4BICofvS88dJ7w8vqG8WQC754K17lPjrx3z3l8D4YoVaqIrWbcJNbzaHefNZjfXPdy5b0jsO/IRqMxUpmSBnhz2bx1QL79GPbpEePmzhdSyW8fBDL0SK68HwiGCT2S3NiKREaPzP7QRRNPZSHpwm4kMnqkYbQikdEjZv8HK2ubS4nY75mD6WU8qzeXkrHvToBlWSjuHC4kYo99V8bwBnM0/iMiz542myq2bSPskcmR/zPos7lvP8Lv/nGd+/N6c2Xq2KcXhiY6qV1rxwotU3n/NHF8fgW+g9hfsHJlJUYljcgAAAAASUVORK5CYII=) !important;
  height: 17px;
  width: 19px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.term {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
}
.term li {
  color: #666;
}
