#sidebar {
  width: 240px;
  height: auto;
  top: 110px;
  left: 215px;
  position: fixed;
  overflow: hidden;
  padding: 10px;
  line-height: 1;
  text-align: center;
  background-color: #FFF;
}
#sidebar #blogtitle {
  margin-top: -8px;
  height: 24px;
  font-size: 24px;
  font-family: La belle aurore;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-transform: lowercase;
  color: #F2B2AE;
}
#sidebar .uppernavigation {
  margin-top: 3px;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: dashed 1px #F2B2AE;
}
#sidebar .uppernavigation a {
  font-size: 9px;
  padding: 2px 4px;
  letter-spacing: 2px;
  font-family: calibri;
  text-transform: uppercase;
  color: #878787;
  transition: color .3s;
}
#sidebar .uppernavigation a:hover {
  color: #F2B2AE;
}
#sidebar .avatar {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 8px;
  border: double 3px #F2B2AE;
  opacity: 0.5;
  background: url(//s7.mogucdn.com/pic/141123/ubzlo_ieydgobxgztgcm3cmqytambqmmyde_324x299.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
  transition: opacity .3s;
}
#sidebar .avatar:hover {
  opacity: 1;
}
#sidebar .navigation {
  padding: 5px 0px;
  text-align: center;
}
#sidebar .navigation a {
  font-size: 8px;
  text-transform: uppercase;
  padding: 3px 5px;
  font-family: arial;
  letter-spacing: 1px;
  color: #F2B2AE;
  transition: color .3s;
}
#sidebar .navigation a:hover {
  color: #878787;
}
#sidebar #description {
  width: 200px;
  margin-top: -2px;
  margin-left: 17px;
  font-family: calibri;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  padding: 3px;
  color: #878787;
}
#sidebar #description font {
  color: #F2B2AE;
}
#sidebar #description a {
  color: #F2B2AE;
  transition: color .3s;
}
#sidebar #description a:hover {
  color: #878787;
}
